tickTime=3000
initLimit=10
syncLimit=5
dataDir=/var/lib/zookeeper
dataLogDir=/var/lib/zookeeper

# --- CLEANED SECURITY SECTION ---
ssl.clientAuth=none
4lw.commands.whitelist=*
secureClientPort=2282

# Force Netty and X509
authProvider.x509=org.apache.zookeeper.server.auth.X509AuthenticationProvider
serverCnxnFactory=org.apache.zookeeper.server.NettyServerCnxnFactory

# Key and Truststore (Explicitly PKCS12)
ssl.keyStore.location=/var/lib/zookeeper/zookeeper1.home-lab.test.from.home.keystore.jks
ssl.keyStore.password=ShouldBeSamePassword
ssl.keyStore.type=PKCS12
ssl.trustStore.location=/var/lib/zookeeper/truststore.jks
ssl.trustStore.password=ShouldBeSamePassword
ssl.trustStore.type=PKCS12

# Quorum Security
ssl.quorum.keyStore.location=/var/lib/zookeeper/zookeeper1.home-lab.test.from.home.keystore.jks
ssl.quorum.keyStore.password=ShouldBeSamePassword
ssl.quorum.keyStore.type=PKCS12
ssl.quorum.trustStore.location=/var/lib/zookeeper/truststore.jks
ssl.quorum.trustStore.password=ShouldBeSamePassword
ssl.quorum.trustStore.type=PKCS12

# Global Limits & Admin
maxClientCnxns=0
admin.enableServer=true
admin.serverPort=9090
